/* ----------------------
    Custom Google Fonts 
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* -------------------
    Common Css Style 
-----------------------*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #3a3a3a;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* -----------------------
    Header Area CSS Style 
-------------------------- */
.header-area {
  margin-top: 60px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.logo-title a {
  text-decoration: none;
  color: #3a3a3a;
}
.menus {
  display: flex;
  margin: 0;
  padding: 0;
}
.menus li {
  list-style: none;
  margin-right: 30px;
}
.menus li:last-child {
  margin-right: 0;
}
.menus li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px;
}
.menus li:hover a {
  background: #e02c6d;
  border-radius: 10px;
  color: #fff;
  transition: all 0.8s ease;
}

/* -----------------------
    Welcome Area CSS Style
-------------------------- */
.welcome-area {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.welcome-text-area {
  display: flex;
  align-items: center;
  width: 50%;
}
.welcome-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}
.welcome-text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.btn {
  text-decoration: none;
  color: #fff;
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 130px;
}
.btn:hover {
  padding: 12px 30px;
  transition: all 0.5s linear;
}
.welcome-img {
  background: url(../images/resources/Circle-design.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 50%;
  text-align: center;
}
.welcome-area:hover .welcome-img img {
  /* transform: rotate3d(2, -1, -1, 0.2turn); */
  transform: rotate3d(0, -30, 50, 6rad);
  transition: all 2s ease;
}

/* ------------------------------
    Popular Collection CSS Style 
--------------------------------- */

.popular-collection-area {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.popular-collection-area h3 {
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
}
.popular-collections {
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.single-collection {
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.single-collection img {
  width: 100%;
  border-radius: 5px;
}
.single-collection h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin: 10px 0;
}
.price {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
}
.product-rating {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}
.product-rating i {
  color: orange;
  margin-right: 5px;
}
.product-info {
  margin: 0;
}
.product-info span {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.018em;
}
.btn-see-more {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

/* --------------------------------
    Subscribe Newsletter CSS Style 
----------------------------------- */
.subscribe-area {
  margin: 100px auto 30px auto;
  width: 80%;
  background: #f7f7f7 none repeat scroll 0 0;
  border-radius: 5px;
  padding: 10px;
}
.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.subscribe-text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-left: 100px;
}
.subscribe-title {
  font-size: 30px;
  line-height: 25px;
  margin: 0;
  text-transform: uppercase;
}
.subscribe-title span {
  background: rgba(224, 44, 109, 0.87);
  display: inline-block;
  padding: 25px 10px;
  border-radius: 50%;
  color: #fff;
}
.subscribe-form-area {
  width: 40%;
}
.subscribe-form-area small {
  padding-right: 50px;
}
.subscribe-form-title {
  font-size: 20px;
  font-weight: 600;
}
.subscribe-form {
  width: 70%;
  position: relative;
  margin-bottom: 20px;
}
.subscribe-form input {
  width: 100%;
  border: 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px 5px 20px 10px;
  color: #333333;
}
.subscribe-form button {
  position: absolute;
  top: 10px;
  right: 0;
  background: rgba(224, 44, 109, 0.87);
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
}

/* -----------------------
    Footer Area CSS Style 
-------------------------- */

.footer-text {
  background: #0a0826;
  text-align: center;
  color: #fff;
  padding: 50px 0px;
}
.footer-text p {
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  margin-bottom: 30px;
}
.social-icons i {
  width: 32px;
  height: 32px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

/* -----------------------
    Responsive CSS Style 
-------------------------- */

/* For devices with width of 688px and less, like phones */
@media only screen and (max-width: 688px) {
  /* Navigation and Welcome area mobile Css Style */
  .main-menu {
    display: none;
  }
  .nav-bar {
    justify-content: center;
  }
  .welcome-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome-text-area {
    display: block;
    width: 100%;
    text-align: center;
    order: 2;
  }
  .welcome-text h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .btn {
    display: inline-block;
    width: 150px;
  }
  .welcome-img {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }
  .welcome-img img {
    width: 100%;
  }

  /* Popular collection Area mobile Css Style */
  .popular-collection-area h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .popular-collections {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
  }

  /* Subscribe Newsletter Area Css Style for mobile devices */

  .subscribe-content {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .subscribe-text-area {
    display: block;
    width: 100%;
    padding-left: 0;
    border-bottom: 1px solid #181717;
  }
  .subscribe-form-area {
    width: 100%;
  }
  .subscribe-form-title {
    font-size: 20px;
  }
  .subscribe-form {
    width: 90%;
  }
}

/* For devices with width between 689px and 992px, like larger phones and portrait tablets */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  /* Navigation Area CSS Style For Tablets */
  .nav-bar {
    display: block;
  }
  .logo-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .logo-title a {
    text-decoration: none;
    color: #3a3a3a;
  }
  .menus li {
    margin-right: 15px;
  }
  .menus li:last-child {
    margin-right: 0;
  }
  .menus li a:first-child {
    padding-left: 0;
  }

  /* Welcome Area CSS Style For Tablets */
  .welcome-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-text-area {
    display: block;
    width: 100%;
    text-align: center;
    order: 2;
  }
  .welcome-text h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .btn {
    display: inline-block;
    width: 150px;
  }
  .welcome-img {
    width: 100%;
    order: 1;
    margin-bottom: 30px;
  }
  .welcome-img img {
    width: 100%;
  }
  /* Popular Collection Tablets Css Style */
  .popular-collections {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Subscribe Newsletter Area Css Style for tablet devices */

  .subscribe-content {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .subscribe-text-area {
    display: block;
    width: 100%;
    padding-left: 0;
    border-bottom: 1px solid #181717;
  }
  .subscribe-text-area p {
    font-size: 18px;
  }
  .subscribe-form-area {
    width: 100%;
  }
  .subscribe-form-title {
    font-size: 25px;
  }
  .subscribe-form {
    width: 80%;
  }
}
